*.stplugin
*.st3plugin
obj/
*.suo
bin/
_UpgradeReport_Files/
*.csproj.user
/AccumulatedSummaryPlugin/Util
/HighScorePlugin/Util
/OverlayPlugin/Util
/OverlayPlugin/Integration
/PerformancePredictorPlugin/Util
/TRIMPPlugin/Util
/UniqueRoutesPlugin/Util
